<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <a href="/">Home</a>
        <a href="/staff">Our Staff</a>
        <a href="/reviews">Reviews</a>
        <a href="/contact">Contact Us</a>
        <a href="/about">Company History</a>
      </ul>
    </nav>
  </body>
</html>
