<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./css/app.css">
  </head>
  <body>
    <%- include('partials/nav') %>
    <div id="siteContent">
    <h1>Contact Us</h1>
    <p>
      Please find our contact details below and feel free to leave us a message
      via the form.
    </p>

    <h3>Office Address</h3>
    <p><%= office.address %></p>

    <h3>Phone</h3>
    <p><%= office.phone %></p>

    <h3>Email Us</h3>
    <form action="/submit-contact-form" method="post">
      <label for="email">Your Email:</label>
      <input type="email" id="email" name="email" required />
      <br /></br>
      <label for="message">Your Message:</label>
      <textarea id="message" name="message" required></textarea>
      <br /><br>
      <button type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>
