<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Client Reviews</h1>
    <ul>
        <% reviews.forEach(function(review) { %>
            <li>
                <h3>Review by <%= review.client %></h3>
                <p><%= review.text %></p>
                <p>Rating: <%= review.rating %> stars</p>
            </li>
        <% }) %>
    </ul>
</body>
</html>